cycler
future
lap
matplotlib
motmetrics
MultiScaleDeformableAttention
numpy
opencv-python
pandas
sacred
scikit-image
scipy
seaborn
submitit
tqdm
visdom
pillow
pycocotools

--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio